<% _.each(collections, function(collection) { %>
<h4><%- collection.title %></h4>
<ul class="list">
    <% _.each(collection.models, function(model) { %>
    <li>
        <a href="/<%- baseURL %><%- model.id %>" class="<%- viewHelper.isActive(model.id) %>">
            <h5><%- model.title %></h5>
            <% _.each(model.labels, function(label) { %>
                <span class="label label-<%- label.type %>"><%- label.title %></span>
            <% }); %>
        </a>
    </li>
    <% }); %>
</ul>
<% }); %>
