<div class="row">
    <div class="col-lg-6">
        <label>
            <span class="input-label">Primary Domain</span>
            <span class="input-message">Input with warning</span>

            <input type="text" class="form-control" value="$UUID.$server.showcase-sites.co.uk" disabled="disabled">
        </label>

        <label>
            <span class="input-label">Other Domains</span>
            <span class="input-message">Input with warning</span>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="e.g example.net">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" tabindex="-1">Add Domain</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Remove Domain</a></li>
                    </ul>
                </div>
            </div>
        </label>
    </div>

    <div class="col-lg-6">
        <label>
            <span class="input-label">Renewal Status</span>
            <span class="input-message">Input with warning</span>
            <br>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options">Automatic
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options">Manual
                </label>
            </div>
        </label>

        <div class="canvas-pie-chart" data-percent="50">50%</div>
    </div>
</div>
