<div id="panel-<%- module %>" class="panel-container">
    <div class="collection-list-wrapper">
        <div class="input-wrapper">
            <input type="search" class="form-control" placeholder="Filter">
        </div>

        <div class="view collection-list"></div>
    </div>

    <div class="view collection-list-footer"></div>

    <div class="content-wrapper">
        <h1 class="view section-title truncate"></h1>

        <ul class="view subnav"></ul>

        <div class="view content"></div>
    </div>
</div>
