
/* Generic
-------------------------------------------------------------------------- */

body {
    color: #44596e;
}



/* Module List
-------------------------------------------------------------------------- */

#module-list {
    background-color: rgba(44,62,80,1);
}

/* On the li so it doesn't turn transparent when we un-hover due to the transition */
#module-list li:hover {
    background-color: rgba(44,62,80,0.95);
}

#module-list li a,
#module-list li a:hover {
    color: #fff;
}



/* Header
-------------------------------------------------------------------------- */

#header {
    background-color: #ecf0f1;
}

#header-nav li a {
    color: #44596e;
}

#header-nav li a:hover,
#header-nav li a:focus,
#header-nav li a:active,
#header-nav li a.active {
    color: #222;
}


/* Collection List
-------------------------------------------------------------------------- */

.collection-list-wrapper,
.collection-list-wrapper input,
.collection-list h4 {
    border-color: #eee;
}

.collection-list h4 {
    color: #7f8c8d;
}

.collection-list ul li a:hover {
    background-color: #f6f6f6;
}

.collection-list h5 {
    color: #34495e;
}

.collection-list li span {
    color: #7f8c8d;
}

.collection-list li.active a,
.collection-list li.active a:hover {
    background-color: #ecf0f1;
}


