
/* Brand Colors */

/* color: #e74c3c; */


body {
    color: #44596e;
}

#module-list {
    background-color: rgba(44,62,80,1);
}

#module-list li:hover {
    background-color: rgba(44,62,80,0.95);
}

#header {
    background-color: #f1f4f7;
}


.collection-list-container {
    border-right: 1px solid #eee;
}