
/* Outer Wrapper
-------------------------------------------------------------------------- */

.content-wrapper {
    overflow-y: scroll;
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
}

.content-wrapper .content {
    clear:  both;
    padding: 20px;

    /* Height minus padding */
/*    height:       -webkit-calc(100% - 20px);*/
/*    height:               calc(100% - 20px);*/
}