
/* Outer Wrapper
-------------------------------------------------------------------------- */

.section-title {
    font-family: "HelveticaNeue-Light";
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    margin: 20px 0 0 20px;

    /* Minus the left padding */
    width: -webkit-calc(100% - 20px);
    width:         calc(100% - 20px);
}

.section-title a {
    text-decoration: none;
}
